<a href="https://colab.research.google.com/github/EG886/big-data/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [ ]:
a <- 5
b <- 3.8
c <- -1

In [ ]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [ ]:
is.numeric(a)
is.numeric(b)
is.numeric(c)

[1] TRUE

[1] TRUE

[1] TRUE

In [ ]:
d <- "hello"
e <- "hi"
str(d)
str(e)

 chr "hello"
 chr "hi"

In [ ]:
f <- c(1,2,3,4,5)
g <- c("jim","jenny","jake")

In [ ]:
f[2]
g[3]
g[c(1,2)]

[1] 2

[1] "jake"

[1] "jim"   "jenny"

In [ ]:
h <- c(1,2,3,4,5,6,7,8)
i <- c(2,3,4,5,6,7,8,9)

In [ ]:
h+i

[1]  3  5  7  9 11 13 15 17

In [ ]:
h^3

[1]   1   8  27  64 125 216 343 512

In [ ]:
i>5

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [ ]:
gender <- c("male","female","female","male","male")
gender <- factor(gender)
gender
levels(gender)

[1] male   female female male   male
Levels: female male

[1] "female" "male"

In [ ]:
j <- matrix(c(1:6), nrow=3, nocl=2)
j
k <- matrix(c(7:12), nrow=2, nocl=3)
k

In [ ]:
j[2,2]

In [ ]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library("SportsAnalytics")
NBA1516<-fetch_NBAPlayerStatistics("15-16")

In [ ]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [ ]:
NBA1516[GREPL("Curry",NBA1516$Name)]